workspace.members = [
#    "code_editor",
#    "experiments/websocket-tcpstream",
#   "experiments/websocket-windows",
#   "experiments/svgloader",
    "examples/fractal_zoom", 
    "examples/ui_zoo", 
    "examples/news_feed", 
    "examples/web_cam", 
    "examples/ironfish",
    "experiments/bigfish",
    "experiments/teamtalk",
    "examples/simple",
    "examples/simple_shader",
    "examples/chatgpt",
    "examples/sdxl",
    "examples/slides",
    "examples/graph",
#    "libs/futures",
#    "libs/wasm_bridge/test",
    "studio",
#    "tools/video_mixer",
    "tools/cargo_makepad",
#    "tools/windows_strip",
     "tools/auto_version",
#    "tools/web_server", 
#    "tools/file_router", 
#    "tools/wasm_strip",
]

workspace.resolver = "2"
[profile.release]
#debug = true
 
[profile.small]
inherits = "release"  
#debug = true
opt-level = 'z'     # Optimize for size
lto = true          # Enable link-time optimization
codegen-units = 1   # Reduce number of codegen units to increase optimizations
panic = 'abort'     # Abort on panic
strip = true   


#[profile.dev.package.makepad-live-tokenizer]
#opt-level = 3
#[profile.dev.package.makepad-live-compiler]
#opt-level = 3
#[profile.dev.package.makepad-shader-compiler]
#opt-level = 3
#[profile.dev.package.makepad-platform]
#opt-level = 3
#[profile.dev.package.makepad-draw]
#opt-level = 3
#[profile.dev.package.makepad-vector]
#opt-level = 3
#[profile.dev.package.rustybuzz]
#opt-level = 3
#[profile.dev.package.bitflags]
#opt-level = 3
#[profile.dev.package.bytemuck]
#opt-level = 3
#[profile.dev.package.smallvec]
#opt-level = 3
#[profile.dev.package.unicode-bidi-mirroring]
#opt-level = 3
#[profile.dev.package.unicode-ccc]
#opt-level = 3
#[profile.dev.package.unicode-properties]
#opt-level = 3
#[profile.dev.package.unicode-script]
#opt-level = 3
#[profile.dev.package.unicode-bidi]
#opt-level = 3
#[profile.dev.package.ttf-parser]
#opt-level = 3
