(
    dock_items:{
        file_tree_tabs:Tabs(
            tabs:[
                file_tree_tab,
                run_list_tab,
                search,
            ],
            selected:1,
            closable:true,
        ),
        profiler:Tab(
            name:"Profiler",
            template:ProfilerTab,
            kind:Profiler,
        ),
        log_list_tab:Tab(
            name:"Log",
            template:LogTab,
            kind:LogList,
        ),
        split2:Splitter(
            axis:Horizontal,
            align:FromA(348.5390625),
            a:edit_tabs,
            b:split3,
        ),
        design_tabs:Tabs(
            tabs:[
                design_first,
            ],
            selected:0,
            closable:true,
        ),
        outline_tabs:Tabs(
            tabs:[
                outline_first,
            ],
            selected:0,
            closable:true,
        ),
        split4:Splitter(
            axis:Horizontal,
            align:Weighted(0.5),
            a:outline_tabs,
            b:design_tabs,
        ),
        outline_first:Tab(
            name:"",
            template:OutlineFirstTab,
            kind:OutlineFirst,
        ),
        ai_first:Tab(
            name:"",
            template:AiFirstTab,
            kind:AiFirst,
        ),
        run_tabs:Tabs(
            tabs:[
                run_first,
                ai_first,
            ],
            selected:1,
            closable:true,
        ),
        edit_tabs:Tabs(
            tabs:[
                edit_first,
            ],
            selected:0,
            closable:true,
        ),
        run_first:Tab(
            name:"",
            template:RunFirstTab,
            kind:RunFirst,
        ),
        edit_first:Tab(
            name:"",
            template:EditFirstTab,
            kind:EditFirst,
        ),
        root:Splitter(
            axis:Horizontal,
            align:FromA(398.9765625),
            a:file_tree_tabs,
            b:split1,
        ),
        design_first:Tab(
            name:"",
            template:DesignFirstTab,
            kind:DesignFirst,
        ),
        log_tabs:Tabs(
            tabs:[
                log_list_tab,
                profiler,
            ],
            selected:0,
            closable:true,
        ),
        split3:Splitter(
            axis:Horizontal,
            align:Weighted(0.4693942635421996),
            a:split4,
            b:run_tabs,
        ),
        split1:Splitter(
            axis:Vertical,
            align:FromB(199.7109375),
            a:split2,
            b:log_tabs,
        ),
        file_tree_tab:Tab(
            name:"Files",
            template:FilesFirstTab,
            kind:StudioFileTree,
        ),
        run_list_tab:Tab(
            name:"Run",
            template:RunListTab,
            kind:RunList,
        ),
        search:Tab(
            name:"Search",
            template:SearchFirstTab,
            kind:Search,
        ),
    },
    processes:[
    ],
    tab_id_to_file_node_id:{
    },
)