(
    active_mount:"makepad",
    mount_dock_items:{
        mount_first:Tab(
            name:"makepad",
            template:MountTab,
            kind:MountWorkspace,
        ),
        root:Tabs(
            tabs:[
                mount_first,
            ],
            selected:0,
            closable:false,
            hide_tab_bar:true,
        ),
    },
    mounts:[
        (
            mount:"makepad",
            dock_items:{
                tree_tabs:Tabs(
                    tabs:[
                        tree_tab,
                        run_list_tab,
                    ],
                    selected:1,
                    closable:false,
                    hide_tab_bar:false,
                ),
                bottom_panel_tabs:Tabs(
                    tabs:[
                        log_first,
                        bottom_terminal_tab,
                    ],
                    selected:1,
                    closable:false,
                    hide_tab_bar:false,
                ),
                log_first:Tab(
                    name:"Logs",
                    template:LogFirstTab,
                    kind:LogFirstPane,
                ),
                bottom_terminal_tab:Tab(
                    name:"Terminal",
                    template:TerminalTab,
                    kind:TerminalShellPane,
                ),
                editor_split:Splitter(
                    axis:Horizontal,
                    align:Weighted(0.62),
                    a:editor_tabs,
                    b:run_tabs,
                ),
                root:Splitter(
                    axis:Horizontal,
                    align:FromA(310),
                    a:tree_tabs,
                    b:main_split,
                ),
                run_tabs:Tabs(
                    tabs:[
                        run_first,
                    ],
                    selected:0,
                    closable:true,
                    hide_tab_bar:false,
                ),
                editor_first:Tab(
                    name:"",
                    template:EditorFirstTab,
                    kind:EditorFirstPane,
                ),
                main_split:Splitter(
                    axis:Vertical,
                    align:FromB(220),
                    a:editor_split,
                    b:bottom_panel_tabs,
                ),
                run_first:Tab(
                    name:"",
                    template:RunFirstTab,
                    kind:RunFirstPane,
                ),
                editor_tabs:Tabs(
                    tabs:[
                        editor_first,
                    ],
                    selected:0,
                    closable:true,
                    hide_tab_bar:false,
                ),
                run_list_tab:Tab(
                    name:"Run",
                    template:RunListTab,
                    kind:RunListPane,
                ),
                tree_tab:Tab(
                    name:"Files",
                    template:FilesTab,
                    kind:FileTreePane,
                ),
            },
            editor_tab_to_path:{
            },
            terminal_tab_to_path:{
            },
            file_filter:"",
            log_filter:"",
            log_tail:true,
        ),
    ],
)