(
    active_mount:"makepad",
    mount_dock_items:{
        mount_first:Tab(
            name:"makepad",
            template:MountTab,
            kind:MountWorkspace,
        ),
        root:Tabs(
            tabs:[
                mount_first,
            ],
            selected:0,
            closable:false,
            hide_tab_bar:true,
        ),
    },
    mounts:[
        (
            mount:"makepad",
            dock_items:{
                47047187552011:Tab(
                    name:"hello-world-button.term",
                    template:TerminalCloseableTab,
                    kind:TerminalPane,
                ),
                66857109709606:Tab(
                    name:"hello-world.term",
                    template:TerminalCloseableTab,
                    kind:TerminalPane,
                ),
                run_list_tab:Tab(
                    name:"Run",
                    template:RunListTab,
                    kind:RunListPane,
                ),
                root:Splitter(
                    axis:Horizontal,
                    align:FromA(372.95177283653845),
                    a:tree_tabs,
                    b:main_split,
                ),
                editor_split:Splitter(
                    axis:Horizontal,
                    align:Weighted(0.62),
                    a:editor_tabs,
                    b:run_tabs,
                ),
                run_first:Tab(
                    name:"",
                    template:RunFirstTab,
                    kind:RunFirstPane,
                ),
                tree_tab:Tab(
                    name:"Files",
                    template:FilesTab,
                    kind:FileTreePane,
                ),
                tree_tabs:Tabs(
                    tabs:[
                        tree_tab,
                        run_list_tab,
                        ai_tab,
                    ],
                    selected:2,
                    closable:false,
                    hide_tab_bar:false,
                ),
                run_tabs:Tabs(
                    tabs:[
                        run_first,
                    ],
                    selected:0,
                    closable:true,
                    hide_tab_bar:false,
                ),
                ai_tab:Tab(
                    name:"AI",
                    template:AiTab,
                    kind:AiPane,
                ),
                terminal_first:Tab(
                    name:"Terminal",
                    template:TerminalTab,
                    kind:TerminalFirstPane,
                ),
                main_split:Splitter(
                    axis:Vertical,
                    align:FromB(346.64499080882354),
                    a:editor_split,
                    b:bottom_panel_tabs,
                ),
                8360179404746:Tab(
                    name:"a.term",
                    template:TerminalCloseableTab,
                    kind:TerminalPane,
                ),
                editor_first:Tab(
                    name:"",
                    template:EditorFirstTab,
                    kind:EditorFirstPane,
                ),
                log_first:Tab(
                    name:"Logs",
                    template:LogFirstTab,
                    kind:LogFirstPane,
                ),
                bottom_panel_tabs:Tabs(
                    tabs:[
                        log_first,
                        terminal_first,
                        47047187552011,
                        8360179404746,
                        66857109709606,
                    ],
                    selected:4,
                    closable:false,
                    hide_tab_bar:false,
                ),
                editor_tabs:Tabs(
                    tabs:[
                        editor_first,
                    ],
                    selected:0,
                    closable:true,
                    hide_tab_bar:false,
                ),
            },
            editor_tab_to_path:{
            },
            terminal_tab_to_path:{
                66857109709606:"makepad/.makepad/hello-world.term",
                8360179404746:"makepad/.makepad/a.term",
                47047187552011:"makepad/.makepad/hello-world-button.term",
            },
            file_filter:"",
            log_filter:"",
            log_tail:true,
        ),
    ],
)