*.ivf
*.yuv
*.y4m
*.user
*.o
*.db
*.sdf
*.suo
*.opendb
*.vs
*.bin
*.opensdf
*.log
.vscode
.cache/
Bin
Build
build
compile_commands.json
test/vectors/
test/docs/
!Build/linux/build.sh
!Build/windows/build.bat
!Build/obj1fastdownloader.cmake
.DS_Store
third_party/aom/lib/*/aom.lib
third_party/aom/lib/*/*/aom.lib
third_party/safestringlib/dummy.c
/offline_ci/
