Aaron Huang <aaron1.huang@intel.com> <34738252+Arhuan@users.noreply.github.com>
Nijil K <nijil.k@ittiam.com>
Nijil K <nijil.k@ittiam.com> <100578@ittiam.com>
Nijil K <nijil.k@ittiam.com> <49437392+nijilk@users.noreply.github.com>
Andrey Norkin <anorkin@netflix.com>
Andrey Norkin <anorkin@netflix.com> <40504168+andrey-norkin@users.noreply.github.com>
Hassene Tmar <htmar@meta.com> <htmar@fb.com>
Hassene Tmar <htmar@meta.com> <hassene.tmar@intel.com>
Hassene Tmar <htmar@meta.com> <42185990+hassount@users.noreply.github.com>
Amir Naghdinezhad <amir.naghdinezhad@intel.com>
Amir Naghdinezhad <amir.naghdinezhad@intel.com> <42190843+anaghdin@users.noreply.github.com>
Omar Khlif <omar.khlif@intel.com>
Omar Khlif <omar.khlif@intel.com> <42191728+okhlif@users.noreply.github.com>
Joel Sole <jsole@netflix.com> <42215374+joelsole@users.noreply.github.com>
Chekib Nouira <chekib.nouira@intel.com>
Chekib Nouira <chekib.nouira@intel.com> <42250551+chkngit@users.noreply.github.com>
Hassen Guermazi <hassen.guermazi@intel.com>
Hassen Guermazi <hassen.guermazi@intel.com> <42253743+hguermaz@users.noreply.github.com>
Nader Mahdi <nader.mahdi@intel.com>
Nader Mahdi <nader.mahdi@intel.com> <43865616+NaderMahdi@users.noreply.github.com>
Gopi Satykrishna <gopi.satykrishna@multicorewareinc.com>
Gopi Satykrishna <gopi.satykrishna@multicorewareinc.com> <44164225+agopikrishna13@users.noreply.github.com>
Gopi Satykrishna <gopi.satykrishna@multicorewareinc.com> <gopi.satykrishna@multicorewarein.com>
Tahani Trigui <tahani.trigui@intel.com>
Tahani Trigui <tahani.trigui@intel.com> <44172344+ttrigui@users.noreply.github.com>
Jun Tian <jun.tian@intel.com> <tianjun1.0@gmail.com>
Omran Abdelkafi <omran.abdelkafi@intel.com> <Omran.Abdelkafi@intel.com>
Omran Abdelkafi <omran.abdelkafi@intel.com> <44279537+OmranAbdelkafi@users.noreply.github.com>
Mariana Fernandez Afonso <mafonso@netflix.com>
Mariana Fernandez Afonso <mafonso@netflix.com> <44611410+mafonsoN@users.noreply.github.com>
Tomasz Szumski <tomasz.szumski@intel.com>
Tomasz Szumski <tomasz.szumski@intel.com> <48432374+tszumski@users.noreply.github.com>
Tomasz Szumski <tomasz.szumski@intel.com> <root@localhost.localdomain>
Ryan Lei <ryanlei@meta.com> <ryanlei@fb.com>
Ryan Lei <ryanlei@meta.com> <48577980+PDX-Runner@users.noreply.github.com>
Jack Zhou <jack.zhou@intel.com>
Jack Zhou <jack.zhou@intel.com> <50381776+JackZhouVCD@users.noreply.github.com>
Paul Freiwirth <paul.freiwirth@intel.com>
Paul Freiwirth <paul.freiwirth@intel.com> <paulfrei@gmail.com>
Paul Freiwirth <paul.freiwirth@intel.com> <51832617+paulsgh@users.noreply.github.com>
Phoenix Worth <phoenix.worth@intel.com>
Phoenix Worth <phoenix.worth@intel.com> <55719945+PhoenixWorthVCD@users.noreply.github.com>
Corey See <59583682+CoreySeeVCD@users.noreply.github.com>
Eric Lam <eric1.lam@intel.com>
Eric Lam <eric1.lam@intel.com> <59583714+EricLamVCD@users.noreply.github.com>
Alexander Polishchuk <alexander.polishchuk@mainconcept.com>
Alexander Polishchuk <alexander.polishchuk@mainconcept.com> <palexander@yandex.ru>
Alexander Polishchuk <alexander.polishchuk@mainconcept.com> <63088100+palexander-14@users.noreply.github.com>
Alex Boswell <alex.boswell@intel.com>
Anush Moorthy <amoorthy@netflix.com> <45950139+anush798@users.noreply.github.com>
Colton Cheung <colton.cheung@intel.com>
Colton Cheung <colton.cheung@intel.com> <colton.cheung@hotmail.ca>
Colton Cheung <colton.cheung@intel.com> <64804407+ccccheung@users.noreply.github.com>
Adrien Maglo <adrien@videolabs.io> <magsoft@videolan.org>
Agata Opalach <aopalach@netflix.com>
Christopher Degawa <ccom@randomderp.com>
Christopher Degawa <ccom@randomderp.com> <cddegawa@gmail.com>
Christopher Degawa <ccom@randomderp.com> <christopher.degawa@intel.com>
Chanpreet Mann <chanpreet.mann@intel.com>
Chanpreet Mann <chanpreet.mann@intel.com> <csmann@sfu.ca>
Chanpreet Mann <chanpreet.mann@intel.com> <m.chanpreet@gmail.com>
Cidana Developers <cidana.developers@cidana.com>
Cidana Developers <cidana.developers@cidana.com> <wenyao.liu@cidana.com>
Colin Chan <colin.chan@intel.com> <colinchan02@gmail.com>
Cosmin Stejerean <cstejerean@meta.com>
Cosmin Stejerean <cstejerean@meta.com> <cosmin@offbytwo.com>
Daniel Liu <daniel1.liu@intel.com>
Daniel Kong <daniel.kong@intel.com>
Edmond Zhu <edmond.zhu@cidana.com>
Marvin Scholz <epirat07@gmail.com>
Gerardo Puga <glpuga@ekumenlabs.com> <glpuga@gmail.com>
Xu Guangxin <guangxin.xu@intel.com> <Guangxin.Xu@intel.com>
Jack Deng <jack.deng@intel.com>
Jessy Chahal <jessy.chahal@intel.com>
Jessy Chahal <jessy.chahal@intel.com> <jaspartap.chahal@intel.com>
Jessy Chahal <jessy.chahal@intel.com> <jessychahal432@gmail.com>
Jing Sun <jing.a.sun@intel.com>
Jing Li <jing.b.li@intel.com>
Jing Li <jing.b.li@intel.com> <jingl3@hotmail.com>
Kelvin Hu <kelvin.hu@intel.com>
kirithika <kirithika@multicorewareinc.com> <36920443+kirithika7@users.noreply.github.com>
Kyle Swanson <kswanson@netflix.com> <k@ylo.ph>
Longshan Du <longshan.du+gitlab@gmail.com> <longshan.du@gmail.com>
L. Zhang <lznewjersey@gmail.com>
Matthew Wang <matthew.wang@intel.com>
Mazhar Ahmed <mazhar.ahmed@intel.com>
Vibhoothi <mindfreeze@videolan.org>
Vibhoothi <mindfreeze@videolan.org> <vibhoothiiaanand@gmail.com>
Minhao Tang <minhaotang@tencent.com> <57277268+mtangtencent@users.noreply.github.com>
Victoria Zhislina <niva213@gmail.com>
P'sao Pollard-Flamand <psao.pollard-flamand@intel.com>
Ramon Chen <ramon.chen@cidana.com>
Rodrigo Causarano <rodrigo_causarano@ekumenlabs.com> <rjcausarano@gmail.com>
Ryan Zhao <ryan.zhao@cidana.com>
Ryan Zhao <ryan.zhao@cidana.com> <suanli@gmail.com>
Slawomir Pawlowski <slawomir.pawlowski@intel.com> <spawlos@gmail.com>
Slawomir Pawlowski <slawomir.pawlowski@intel.com> <spawlows@users.noreply.github.com>
Soroush Amirizadeh <soroush.amirizadeh@intel.com> <samiriza@SAMIRIZA-MOBL>
Soroush Amirizadeh <soroush.amirizadeh@intel.com> <soroush.amirizadeh@intel.com>
stickz1 <stickman002@mail.com>
Wan-Teh Chang <wtc@google.com>
Zhong Li <zhong.li@intel.com>
Ivy Zhang <ivy.zhang@cidana.com>
Jayashri Murugan <jayashri.murugan@ittiam.com>
Ahmed Kossentini <ahmed.kossentini@vlitt.com>
Ahmed Kossentini <ahmed.kossentini@vlitt.com> <ahmedkoss56@gmail.com>
Dennis Mungai <dmngaie@gmail.com>
Grant Farnsworth <gvfarns@gmail.com>
Kedar Tatwawadi <ktatwawadi@gmail.com>
Chatmongkol Pudseesen <chatmongkol.klong@gmail.com>
Kuntal Majumder <hellozee@disroot.org>
Kuntal Majumder <hellozee@disroot.org> <k.majumder@lumicks.com>
Briar Campbell <andastrike@gmail.com>
Ioannis Katsavounidis <ikatsavounidis@fb.com>
Mark Shuttleworth <mark@ubuntu.com>
Peter Vonkaenel <peter.vonkaenel@harmonicinc.com>
Zhengwen Li <zhengwen.li@cidana.com>
